.fullscreen{
    width:100%;
    height:100vh
}
.fullscreen-2{
    width:100%;
    min-height:100vh
}
.fsm{
    font-size: 0.6rem;
}

.fm{
    font-size: 0.8rem;
}

.fl{
    font-size:1.2rem;
}

.fxl{
    font-size:1.5rem
}
.sheild-panel{
    position: fixed;
    z-index:5;
    top:0;
    left:0;
    height:100vh;
    background-color:rgba(0,0,0,0.75);
}