@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.ff-mst{
    font-family: 'Montserrat', sans-serif;
}
.ff-ngt{
    font-family: 'Nanum Gothic', sans-serif;
}
.ff-rbt{
    font-family: 'Roboto', sans-serif;
}

.fullscreen{
    width:100%;
    height:100vh
}
.fullscreen-2{
    width:100%;
    min-height:100vh
}
.fsm{
    font-size: 0.6rem;
}

.fm{
    font-size: 0.8rem;
}

.fl{
    font-size:1.2rem;
}

.fxl{
    font-size:1.5rem
}
.sheild-panel{
    position: fixed;
    z-index:1200;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.75);
}

.sidebar{
    min-height: 100vh;
    background-image: linear-gradient(to right bottom,rgb(0, 0, 0),rgb(17, 16, 16));
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.accept{
  text-align: center;
  padding: 20px;
  border: 3px dashed #49f505;
  background-color:  #49f505;
  color: #bdbdbd;
}

.reject{
text-align: center;
  padding: 20px;
  border: 3px dashed rgb(161, 28, 28);
  background-color: rgb(161, 28, 28);
  color: #bdbdbd;
}

.active{
    text-align: center;
  padding: 20px;
  border: 3px dashed rgb(22, 116, 192);
  background-color:rgb(22, 116, 192);
  color: #bdbdbd;
}

.nav-top{
  z-index:1000;
}

.bg-black{background-color:black}
.password{border:none !important;outline:none !important}
button{outline:none !important}
.bg-notebook{
    background-color: #343a40;
    transition:background-color 0.3s linear;
}
.bg-notebook:hover{
    background-color: black;
    transition:background-color 0.3s linear;
}

.sidebar-links-group{
    margin:1rem 0;
    padding:0;
}

.sidebar-links-item{
    width: 100%;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    color:white !important;
    text-decoration: none !important;
    display: inline-block;
    transition:all 0.3s;
}

.sidebar-links-item-active{
    width: 100%;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    color:black !important;
    background-color: white;
    text-decoration: none !important;
    display: inline-block;
}

.sidebar-links-item:hover{
    background-color: rgba(255, 255, 255, 0.089);
    text-decoration: none;
}

.sidebar-links-item:active{
    background-color:  rgba(0,0,0,0.2);
}

.search-bar{
    outline:none !important;
    border:none !important;
    background-color: transparent;
}

.search-bar-box{
    background-color:#00000007;
}

.search-bar-box:hover, .search-bar-box:active{
    background-color:#00000017;
}
